<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chinasofti.mms.dao.MeetingMapper">
	<resultMap id="BaseResultMap" type="com.chinasofti.mms.pojo.Meeting">
		<id column="MeetingId" jdbcType="VARCHAR" property="meetingid" />
		<result column="MeetingName" jdbcType="VARCHAR" property="meetingname" />
		<result column="RoomId" jdbcType="VARCHAR" property="roomid" />
		<result column="ReservationistId" jdbcType="VARCHAR" property="reservationistid" />
		<result column="NumOfParticipants" jdbcType="INTEGER" property="numofparticipants" />
		<result column="BeginTime" jdbcType="TIMESTAMP" property="begintime" />
		<result column="EndTime" jdbcType="TIMESTAMP" property="endtime" />
		<result column="ReservationTime" jdbcType="TIMESTAMP" property="reservationtime" />
		<result column="CanceledTime" jdbcType="TIMESTAMP" property="canceledtime" />
		<result column="MeetingStatus" jdbcType="VARCHAR" property="meetingstatus" />
		<result column="Description" jdbcType="VARCHAR" property="description" />
	</resultMap>

	<resultMap type="com.chinasofti.mms.pojo.Meeting" id="Relevance">
		
		<collection property="MeetingRoom" ofType="com.chinasofti.mms.pojo.MeetingRoom">
			
		</collection>
		<collection property="Employee" ofType="com.chinasofti.mms.pojo.Employee">
			
		</collection>
	</resultMap>

	<sql id="Base_Column_List">

		MeetingId, MeetingName, RoomId, ReservationistId,
		NumOfParticipants, BeginTime,
		EndTime,
		ReservationTime, CanceledTime,
		MeetingStatus, Description
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">

		select
		<include refid="Base_Column_List" />
		from meeting
		where MeetingId = #{meetingid,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">

		delete from
		meeting
		where MeetingId = #{meetingid,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.chinasofti.mms.pojo.Meeting">

		insert into meeting
		(MeetingId, MeetingName, RoomId,
		ReservationistId, NumOfParticipants,
		BeginTime,
		EndTime, ReservationTime, CanceledTime,
		MeetingStatus,
		Description)
		values (#{meetingid,jdbcType=INTEGER},
		#{meetingname,jdbcType=VARCHAR},
		#{roomid,jdbcType=INTEGER},
		#{reservationistid,jdbcType=INTEGER},
		#{numofparticipants,jdbcType=INTEGER},
		#{begintime,jdbcType=TIMESTAMP},
		#{endtime,jdbcType=TIMESTAMP},
		#{reservationtime,jdbcType=TIMESTAMP},
		#{canceledtime,jdbcType=TIMESTAMP},
		#{meetingstatus,jdbcType=INTEGER},
		#{description,jdbcType=VARCHAR})
	</insert>

	<insert id="insertSelective" parameterType="com.chinasofti.mms.pojo.Meeting">

		insert into meeting
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="meetingid != null">
				MeetingId,
			</if>
			<if test="meetingname != null">
				MeetingName,
			</if>
			<if test="roomid != null">
				RoomId,
			</if>
			<if test="reservationistid != null">
				ReservationistId,
			</if>
			<if test="numofparticipants != null">
				NumOfParticipants,
			</if>
			<if test="begintime != null">
				BeginTime,
			</if>
			<if test="endtime != null">
				EndTime,
			</if>
			<if test="reservationtime != null">
				ReservationTime,
			</if>
			<if test="canceledtime != null">
				CanceledTime,
			</if>
			<if test="meetingstatus != null">
				MeetingStatus,
			</if>
			<if test="description != null">
				Description,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="meetingid != null">
				#{meetingid,jdbcType=INTEGER},
			</if>
			<if test="meetingname != null">
				#{meetingname,jdbcType=VARCHAR},
			</if>
			<if test="roomid != null">
				#{roomid,jdbcType=INTEGER},
			</if>
			<if test="reservationistid != null">
				#{reservationistid,jdbcType=INTEGER},
			</if>
			<if test="numofparticipants != null">
				#{numofparticipants,jdbcType=INTEGER},
			</if>
			<if test="begintime != null">
				#{begintime,jdbcType=TIMESTAMP},
			</if>
			<if test="endtime != null">
				#{endtime,jdbcType=TIMESTAMP},
			</if>
			<if test="reservationtime != null">
				#{reservationtime,jdbcType=TIMESTAMP},
			</if>
			<if test="canceledtime != null">
				#{canceledtime,jdbcType=TIMESTAMP},
			</if>
			<if test="meetingstatus != null">
				#{meetingstatus,jdbcType=INTEGER},
			</if>
			<if test="description != null">
				#{description,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.chinasofti.mms.pojo.Meeting">

		update meeting
		<set>
			<if test="meetingname != null">
				MeetingName = #{meetingname,jdbcType=VARCHAR},
			</if>
			<if test="roomid != null">
				RoomId = #{roomid,jdbcType=INTEGER},
			</if>
			<if test="reservationistid != null">
				ReservationistId = #{reservationistid,jdbcType=INTEGER},
			</if>
			<if test="numofparticipants != null">
				NumOfParticipants =
				#{numofparticipants,jdbcType=INTEGER},
			</if>
			<if test="begintime != null">
				BeginTime = #{begintime,jdbcType=TIMESTAMP},
			</if>
			<if test="endtime != null">
				EndTime = #{endtime,jdbcType=TIMESTAMP},
			</if>
			<if test="reservationtime != null">
				ReservationTime = #{reservationtime,jdbcType=TIMESTAMP},
			</if>
			<if test="canceledtime != null">
				CanceledTime = #{canceledtime,jdbcType=TIMESTAMP},
			</if>
			<if test="meetingstatus != null">
				MeetingStatus = #{meetingstatus,jdbcType=INTEGER},
			</if>
			<if test="description != null">
				Description = #{description,jdbcType=VARCHAR},
			</if>
		</set>
		where MeetingId = #{meetingid,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.chinasofti.mms.pojo.Meeting">

		update meeting
		set
		MeetingName = #{meetingname,jdbcType=VARCHAR},
		RoomId =
		#{roomid,jdbcType=INTEGER},
		ReservationistId =
		#{reservationistid,jdbcType=INTEGER},
		NumOfParticipants =
		#{numofparticipants,jdbcType=INTEGER},
		BeginTime =
		#{begintime,jdbcType=TIMESTAMP},
		EndTime =
		#{endtime,jdbcType=TIMESTAMP},
		ReservationTime =
		#{reservationtime,jdbcType=TIMESTAMP},
		CanceledTime =
		#{canceledtime,jdbcType=TIMESTAMP},
		MeetingStatus =
		#{meetingstatus,jdbcType=INTEGER},
		Description =
		#{description,jdbcType=VARCHAR}
		where MeetingId =
		#{meetingid,jdbcType=INTEGER}
	</update>

	<select id="cancelMeeting" resultMap="BaseResultMap"> select * from meeting
		where meetingstatus=2
	</select>

	<select id="comingMeeting" parameterType="com.chinasofti.mms.pojo.Meeting"
		resultMap="BaseResultMap">

		select * from meeting where meetingstatus=1 and begintime
		&lt;
		DATE_SUB(NOW(),INTERVAL -7 DAY) and BeginTime >=NOW() and
		meetingid
		=#{meetingid}

	</select>

	<update id="alterMeeting" parameterType="com.chinasofti.mms.pojo.Meeting">
		update meeting set
		description = #{description} where
		meetingid=#{meetingid}
	</update>

	<update id="alterMeetingStatus" parameterType="com.chinasofti.mms.pojo.Meeting">
		update meeting set
		meetingStatus = 2 , description = #{description} where
		meetingid=#{meetingid}
	</update>

	<select id="selectAllMeeting">
		select * from meeting
	</select>

	<select id="selectMeeting">
		select * from meeting where MeetingId = #{MeetingId}
	</select>

	<select id="selectByReservationistID">
		select * from meeting where
		reservationistID=#{reservationistID} and
		meetingstatus=1
	</select>

	<select id="selectByMeetingId">
		select * from Meeting where MeetingId = #{MeetingId}
	</select>

	<insert id="inserty">
		insert into Meeting
		(MeetingName,RoomId,ReservationistId,NumOfParticipants,BeginTime,EndTime,ReservationTime,MeetingStatus,Description)
		" +
		"values(#{RoomId},#{ReservationistId},#{NumOfParticipants},#{BeginTime},#{EndTime},#{ReservationTime},sysdate(),#{MeetingStatus},#{Description})
	</insert>

	<select id="selectByMeetingName">
		select * from Meeting where MeetingName =
		#{MeetingName}
	</select>

	<!-- 通过参加会议的员工的id查找员工与会议关系的对象 -->
	<select id="selectListsById" resultType="MeetingParticipants"
		parameterType="java.lang.String">
		select * from meetingparticipants where
		ParticipantId=#{id}
	</select>

	<!-- 通过员工与会议关系的对象拿到会议id，通过会议id查询该会议 -->
	<select id="findMeetingByMeetingId" resultType="Meeting"
		parameterType="java.lang.String">
		select * from meeting where meetingid = #{meetingid}
	</select>

	<select id="selectEmployeeByUsername" resultType="Employee"
		parameterType="java.lang.String">
		select * from employee where ParticipantId=#{id}
	</select>

	<select id="selectMeet" resultMap="Relevance">
		SELECT
		m.MeetingName,mr.RoomName,m.BeginTime,m.EndTime,m.ReservationTime,e.EmployeeName
		FROM meeting m,meetingroom mr,employee e WHERE m.RoomId=mr.RoomId AND
		m.ReservationistId=e.EmployeeId
	</select>


</mapper>